h1 {
    
    font-size:70pt;
}
h2 {
    
    
}    
h12 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:60pt;
    color:rgb(61, 58, 244);
    
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    animation: changeColor 5s infinite; /* Applica l'animazione con una durata di 5 secondi e ripeti all'infinito */
}
.mare{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color:rgb(255, 217, 0);

}


@keyframes changeColor {
    0% {
        color: rgb(82, 255, 125);
    }
    25% {
        color: rgb(82, 255, 252);
    }
    50% {
        color: rgb(255, 147, 230);
    }
    75% {
        color: rgb(255, 249, 82);
    }
    100% {
        color: rgb(82, 255, 125);
    }
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    animation: changeColor 5s infinite; /* Applica l'animazione con una durata di 5 secondi e ripeti all'infinito */
}

@keyframes changeColor {
    0% {
        color: rgb(82, 255, 125);
    }
    25% {
        color: rgb(82, 255, 252);
    }
    50% {
        color: rgb(255, 147, 230);
    }
    75% {
        color: rgb(255, 249, 82);
    }
    100% {
        color: rgb(82, 255, 125);
    }
}
.contenitore {
    font-size: 16px; /* Dimensione predefinita per computer */
    
}
.contenitore2 {
    font-size: 16px; /* Dimensione predefinita per computer */
    background-color: rgba(234, 19, 177, 0.911);
    border: 2px solid rgb(0, 0, 0); /* Imposta un bordo bianco da 2 pixel intorno al contenitore */
    padding: 10px; /* Aggiunge uno spazio di 10 pixel tra il testo e il bordo del contenitore */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0); /* Imposta il colore del testo in bianco all'interno del contenitore */
    width: 80%; /* Imposta la larghezza del contenitore al 70% della larghezza della pagina */
    margin: 0px; /* Centra il contenitore orizzontalmente */
    
}



.testo-fisso {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

}


@media screen and (min-width: 200px) and (max-width: 1025px) {
    /* Stili per schermi con larghezza massima di 600px */
    body {
        font-size: 14px;
    }

    header {
        padding: 5px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 14px;
    }
    h4 {
        font-size: 35px;
    }
    img {
        max-height: 90px; /* Set the maximum width to 100% of the parent container */
        width: auto;    /* Maintain the aspect ratio of the image */
    }
}
