h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:90pt;
    color:white;
    
}
h12 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:60pt;
    color:rgb(61, 58, 244);
    
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    animation: changeColor 5s infinite; /* Applica l'animazione con una durata di 5 secondi e ripeti all'infinito */
}
.mare{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color:rgb(255, 217, 0);

}

@keyframes changeColor {
    0% {
        color: rgb(82, 255, 125);
    }
    25% {
        color: rgb(82, 255, 252);
    }
    50% {
        color: rgb(255, 147, 230);
    }
    75% {
        color: rgb(255, 249, 82);
    }
    100% {
        color: rgb(82, 255, 125);
    }
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    animation: changeColor 5s infinite; /* Applica l'animazione con una durata di 5 secondi e ripeti all'infinito */
}

@keyframes changeColor {
    0% {
        color: rgb(82, 255, 125);
    }
    25% {
        color: rgb(82, 255, 252);
    }
    50% {
        color: rgb(255, 147, 230);
    }
    75% {
        color: rgb(255, 249, 82);
    }
    100% {
        color: rgb(82, 255, 125);
    }
}
.contenitore {
    font-size: 20px; /* Dimensione predefinita per computer */
}

/* Media query per dispositivi mobili con larghezza massima di 767px */
@media (max-width: 767px) {
    .contenitore {
        font-size: 40px; /* Dimensione del font per dispositivi mobili */
    }
}

.testo-fisso {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

}


